@use "../abstracts/variables" as *;

.hero-slider {
  &__main {
    position: relative;
  }

  &--artisan {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 437.66px;
    gap: 1rem;
    padding: 0 10rem;

    @media (max-width: 768px) {
      grid-auto-rows: 260px;
      gap: 0.5rem;
      padding: 0;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      grid-auto-rows: 244px;
      gap: 0.5rem;
      padding: 0 1rem;
    }

    @media (min-width: 1025px) and (max-width: 1440px) {
      padding: 0 1rem;
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(1) {
      grid-column: span 7;
      grid-row: 1;

      @media (max-width: 768px) {
        grid-column: span 12;
        grid-row: 1;
      }
    }

    &:nth-child(2) {
      grid-column: span 5;
      grid-row: 1;

      @media (max-width: 768px) {
        grid-column: span 12;
        grid-row: 2;
      }
    }

    &:nth-child(3) {
      grid-column: span 5;
      grid-row: 2;

      @media (max-width: 768px) {
        grid-column: span 12;
        grid-row: 3;
      }
    }

    &:nth-child(4) {
      grid-column: span 7;
      grid-row: 2;
      position: relative;

      @media (max-width: 768px) {
        grid-column: span 12;
        grid-row: 4;
      }
    }

    &--with-text {
      position: relative;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6.25rem 4.025rem 6.229rem 17rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    @media (max-width: 1024px) {
      padding: 2rem 1.813rem 1.563rem 1.875rem;
      background-color: $color-black-transparency;
    }

    @media (min-width: 1025px) and (max-width: 1440px) {
      padding: 2rem 1.813rem 1.563rem 1.875rem;
    }
  }

  &__title {
    font-size: $font-xxl;
    font-weight: $weight-medium;
    color: $color-white;
    margin-bottom: 0px;
    line-height: 1;

    @media (max-width: 1024px) {
      margin-bottom: 1rem;
      line-height: unset;
    }
  }

  &__subtitle {
    font-size: $font-m;
    font-weight: $weight-regular;
    color: $color-light-brown;
    text-transform: uppercase;
    margin-bottom: 2rem;
    white-space: nowrap;

    @media (max-width: 1024px) {
      margin-bottom: 1rem;
      white-space: normal;
      overflow-wrap: break-word;
      max-width: 300px;
    }
  }

  &__description {
    font-size: $font-2xsm;
    font-weight: $weight-medium;
    color: $color-white;
    margin-bottom: 1.5rem;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.professional-account {
  border-top: 1px solid $color-grey;
  border-bottom: 1px solid $color-grey;

  &__content {
    margin: 2.5rem 0;
  }

  &__head {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: $font-m;
    font-weight: $weight-regular;
    text-transform: uppercase;
    margin-bottom: 1.25rem;

    @media (max-width: 768px) {
      max-width: 160px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      max-width: 192px;
    }
  }

  &__icon {
    margin-bottom: 1.25rem;
  }

  &__description {
    font-size: $font-xsm;
    font-weight: $weight-regular;
    color: $color-light-grey;
    max-width: 62.5rem;

    @media (max-width: 768px) {
      max-width: 398px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      max-width: 712px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 3rem;

    @media (max-width: 1024px) {
      gap: 1.5rem;
    }
  }
}

.favorites-slider {
  &__main {
    position: relative;
  }

  .slider {
    position: relative;

    @media (max-width: 1024px) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 2;
        pointer-events: none;
      }

      &::before {
        left: 0;
        width: 4.8rem;
        background: linear-gradient(to right, $color-white, transparent);
      }

      &::after {
        right: 0;
        width: 4.8rem;
        background: linear-gradient(to left, $color-white, transparent);
      }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      &::before,
      &::after {
        width: 6.5rem;
      }
    }
  }

  &__track {
    display: flex;
    justify-content: flex-start;
    margin: 0 4rem;
    overflow: hidden;
    gap: 1.5rem;
    scroll-behavior: smooth;

    @media (max-width: 1024px) {
      // justify-content: center;
      margin: 0;
    }
  }

  &__card {
    cursor: pointer;
  }
  
  &__card,
  &__center {
    flex: 0 0 auto;
    text-align: center;
    max-width: 16rem;
  }

  &__center {
    &--outside,
    &--inside {
      .favorites-slider__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 17.5rem;
      }

      .favorites-slider__intro,
      .favorites-slider__sub {
        font-size: $font-m;
        color: $color-light-brown;
        margin-bottom: 0.5rem;
      }

      .favorites-slider__title {
        font-size: $font-h2;
        font-weight: $weight-medium;
        color: $color-light-brown;
        line-height: 3rem;
        margin-bottom: 0.5rem;
        text-align: right;
      }
    }

    @media (max-width: 1024px) {
      &--inside {
        display: none;
      }

      &--outside {
        .favorites-slider__content {
          width: auto;
          height: auto;
        }
      }
    }

    @media (min-width: 1025px) {
      &--outside {
        display: none;
      }
    }
  }

  &__image {
    width: 16rem;
    height: 17.5rem;
    margin-bottom: 1rem;
    background-color: $color-cream;

    img {
      width: 100%;
      height: 100%;
      padding: 1.5rem 2.1rem;
      object-fit: contain;
    }
  }

  &__name {
    font-size: $font-xsm;
    font-weight: $weight-bold;
  }

  &__code {
    font-size: $font-2xsm;
    font-weight: $weight-regular;
    color: $color-light-grey;
  }
}
