.container {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
  padding: 0 5rem;

  @media (max-width: 768px) {
    padding: 0;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    padding: 0 1rem;
  }
}
